<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cowboy_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1134,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1417,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1700,2},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Cowboy_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,314},{281,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,310}}</string>
			<key>sourceSize</key>
			<string>{281,310}</string>
		</dict>
		<key>Drunk_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,314},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,314},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,314},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1339,314},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,314},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,638},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,638},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Drunk_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,638},{255,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,322}}</string>
			<key>sourceSize</key>
			<string>{255,322}</string>
		</dict>
		<key>Furious_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030,638},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,638},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1566,638},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Furious_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1342,990},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Waitress_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610,990},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1490,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Waitress_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1738,1342},{246,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,318}}</string>
			<key>sourceSize</key>
			<string>{246,318}</string>
		</dict>
		<key>Whore_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_back_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_front_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_front_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_front_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1342,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610,1662},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2014},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
		<key>Whore_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2014},{266,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,350}}</string>
			<key>sourceSize</key>
			<string>{266,350}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>barEnemySheet.png</string>
		<key>size</key>
		<string>{2048,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bd7d31b6ae9c82884a9867c801719f70:7f1c7efaed9d18088e03747bddf9cfeb:ecf952d6df3d74f32f5c2558d2b76ab9$</string>
		<key>textureFileName</key>
		<string>barEnemySheet.png</string>
	</dict>
</dict>
</plist>
