<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dog_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,414},{140,135}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,135}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,823},{146,139}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{146,139}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1902},{154,143}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{154,143}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1094},{160,137}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{160,137}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,918},{174,139}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{174,139}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1054},{164,145}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{164,145}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1399},{150,137}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{150,137}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1247},{150,139}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{150,139}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Dog_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{160,145}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{160,145}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>Fat_Cat_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,239},{173,146}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{173,146}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,489},{155,154}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,11},{155,154}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1470},{229,160}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{229,160}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1470},{187,152}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{187,152}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1846},{181,162}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{181,162}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,248},{239,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,164}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1659},{185,152}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{185,152}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1867},{179,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{179,162}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>Fat_Cat_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{235,164}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,164}}</string>
                <key>sourceSize</key>
                <string>{239,166}</string>
            </dict>
            <key>The_Gardener_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{151,285}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{151,285}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1201},{151,291}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{151,291}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,790},{153,293}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{153,293}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1489},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>The_Gardener_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{139,281}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{139,281}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,763},{139,289}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,289}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,810},{141,295}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{141,295}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,675},{171,277}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{171,277}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1875},{171,287}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{171,287}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>The_Gardener_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,400},{163,289}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{163,289}}</string>
                <key>sourceSize</key>
                <string>{175,295}</string>
            </dict>
            <key>band_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,790},{17,15}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,76},{17,15}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1531},{45,43}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,64},{45,43}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1494},{71,77}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{71,77}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1107},{107,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{107,95}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1256},{153,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,139}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1094},{151,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>band_hit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,532},{123,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{123,113}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>blast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1494},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{80,78}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1107},{92,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{92,90}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,289},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{102,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,532},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{114,114}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1085},{114,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{114,114}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1231},{122,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1948},{96,92}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{96,92}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1103},{126,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{126,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>blast9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,971},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{130,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,763},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,763},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1085},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1494},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1875},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1875},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>divorced_woman_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{181,396}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{181,396}}</string>
                <key>sourceSize</key>
                <string>{191,402}</string>
            </dict>
            <key>divorced_woman_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{149,402}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{149,402}}</string>
                <key>sourceSize</key>
                <string>{191,402}</string>
            </dict>
            <key>divorced_woman_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1588},{177,312}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,86},{177,312}}</string>
                <key>sourceSize</key>
                <string>{191,402}</string>
            </dict>
            <key>divorced_woman_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,691},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,81}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>divorced_woman_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{179,393}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{179,393}}</string>
                <key>sourceSize</key>
                <string>{197,407}</string>
            </dict>
            <key>divorced_woman_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,403}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{145,403}}</string>
                <key>sourceSize</key>
                <string>{197,407}</string>
            </dict>
            <key>divorced_woman_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1206},{185,323}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,77},{185,323}}</string>
                <key>sourceSize</key>
                <string>{197,407}</string>
            </dict>
            <key>divorced_woman_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{172,382}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{172,382}}</string>
                <key>sourceSize</key>
                <string>{246,388}</string>
            </dict>
            <key>divorced_woman_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,400},{174,388}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{174,388}}</string>
                <key>sourceSize</key>
                <string>{246,388}</string>
            </dict>
            <key>divorced_woman_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1575},{190,298}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{190,298}}</string>
                <key>sourceSize</key>
                <string>{246,388}</string>
            </dict>
            <key>enemy_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1701},{164,164}}</string>
                <key>offset</key>
                <string>{-9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,157},{164,164}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1489},{66,38}}</string>
                <key>offset</key>
                <string>{18,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,318},{66,38}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1531},{42,66}}</string>
                <key>offset</key>
                <string>{31,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,291},{42,66}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1531},{48,46}}</string>
                <key>offset</key>
                <string>{45,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,312},{48,46}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,646},{140,142}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,115},{140,142}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{96,166}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,78},{96,166}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,647},{174,112}}</string>
                <key>offset</key>
                <string>{-4,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,57},{174,112}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,691},{190,70}}</string>
                <key>offset</key>
                <string>{-3,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,41},{190,70}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die6.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1200},{190,268}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{190,268}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{192,356}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1902},{82,44}}</string>
                <key>offset</key>
                <string>{3,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,311},{82,44}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_die9.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1489},{58,60}}</string>
                <key>offset</key>
                <string>{19,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,270},{58,60}}</string>
                <key>sourceSize</key>
                <string>{200,362}</string>
            </dict>
            <key>enemy_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1948},{17,14}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,69},{17,14}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>enemy_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1531},{55,64}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{55,64}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>enemy_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,285},{99,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{99,116}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>enemy_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,289},{105,122}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{105,122}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>enemy_hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,971},{111,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,134}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>exp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2023},{10,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>exp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,790},{18,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>exp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,790},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,790},{41,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,12}}</string>
                <key>sourceSize</key>
                <string>{41,12}</string>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,790},{41,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,12}}</string>
                <key>sourceSize</key>
                <string>{41,12}</string>
            </dict>
            <key>laser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1967},{41,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,12}}</string>
                <key>sourceSize</key>
                <string>{41,12}</string>
            </dict>
            <key>skate_guy_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,654},{165,262}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{165,262}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,386},{165,266}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{165,266}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{171,278}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{171,278}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2010},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>skate_guy_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,393},{135,280}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{135,280}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1557},{135,286}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{135,286}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1201},{163,286}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{163,286}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{187,244}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{187,244}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,282},{187,248}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{187,248}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
            <key>skate_guy_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,954},{205,244}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{205,244}}</string>
                <key>sourceSize</key>
                <string>{205,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemySheetNew.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ea5ba2d1a6279b41ddf80b9c5e2eb9:97d0eca9945d29de2d5cfe064bb43cf3:7016b6bcccc6925978e19b508bd13e48$</string>
            <key>textureFileName</key>
            <string>enemySheetNew.png</string>
        </dict>
    </dict>
</plist>
