<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Borracheiro_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,307},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Borracheiro_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,307},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>Conveniencia_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,307},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,307},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,307},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,307},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,624},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,624},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,624},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Conveniencia_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,624},{269,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,315}}</string>
                <key>sourceSize</key>
                <string>{269,315}</string>
            </dict>
            <key>Frentista_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,624},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,624},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_back_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_front_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1243},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Frentista_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,941},{263,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,300}}</string>
                <key>sourceSize</key>
                <string>{263,300}</string>
            </dict>
            <key>Mecanico_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1243},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1243},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1243},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,1243},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1243},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1556},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1556},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Mecanico_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1556},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
            <key>Motoqueiro_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1556},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1556},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1916},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
            <key>Motoqueiro_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2276},{320,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,358}}</string>
                <key>sourceSize</key>
                <string>{320,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gasStEnemySheet.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b24a4983eb5ac4ad0cba0f03f918e3:88d21c6987d6f10c35adbfdd08005862:561d50661cf2fc0f1440eb5b06b8e138$</string>
            <key>textureFileName</key>
            <string>gasStEnemySheet.png</string>
        </dict>
    </dict>
</plist>
