<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,263}}</string>
                <key>sourceSize</key>
                <string>{239,263}</string>
            </dict>
            <key>menu_bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,263}}</string>
                <key>sourceSize</key>
                <string>{239,263}</string>
            </dict>
            <key>menu_bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{239,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,263}}</string>
                <key>sourceSize</key>
                <string>{239,263}</string>
            </dict>
            <key>menu_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{49,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,216}}</string>
                <key>sourceSize</key>
                <string>{49,216}</string>
            </dict>
            <key>menu_chest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{319,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,211}}</string>
                <key>sourceSize</key>
                <string>{319,211}</string>
            </dict>
            <key>menu_chest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,267},{348,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,283}}</string>
                <key>sourceSize</key>
                <string>{348,283}</string>
            </dict>
            <key>menu_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,267},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>menu_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,267},{77,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,54}</string>
            </dict>
            <key>menu_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,267},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>menu_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,267},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>menu_girleye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>menu_girleye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,552},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>menu_girleye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,552},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>menu_guita_tune1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,552},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>menu_guita_tune2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,552},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>menu_guita_tune3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,552},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>menu_guy_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,552},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>menu_guy_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,552},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>menu_guy_play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,552},{346,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,177}}</string>
                <key>sourceSize</key>
                <string>{346,177}</string>
            </dict>
            <key>menu_guy_play2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{346,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,177}}</string>
                <key>sourceSize</key>
                <string>{346,177}</string>
            </dict>
            <key>menu_guy_play3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,731},{346,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,176}}</string>
                <key>sourceSize</key>
                <string>{346,176}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{772,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,393}}</string>
                <key>sourceSize</key>
                <string>{772,393}</string>
            </dict>
            <key>menu_skull_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,910},{240,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,264}}</string>
                <key>sourceSize</key>
                <string>{240,264}</string>
            </dict>
            <key>menu_vol_buton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1305},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099436467996e9c8f6a24a9fd9b31aee:e72512acb3de1b8b3dc336ba0e460e53:f0601a66e63875eb68fa013d35c7dfa3$</string>
            <key>textureFileName</key>
            <string>menuSheet.png</string>
        </dict>
    </dict>
</plist>
