<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Director_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Director_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,276},{289,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>sourceSize</key>
                <string>{289,272}</string>
            </dict>
            <key>Gang_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,276},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,276},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,276},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,276},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,276},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,582},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,582},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Gang_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,582},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>Ghost_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,582},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,582},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,582},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Ghost_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,974},{262,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>sourceSize</key>
                <string>{262,390}</string>
            </dict>
            <key>Guard_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,974},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1366},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Guard_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{288,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,294}}</string>
                <key>sourceSize</key>
                <string>{288,294}</string>
            </dict>
            <key>Prisoner_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1662},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1662},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1662},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1662},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1662},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1983},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1983},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1983},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
            <key>Prisoner_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1983},{294,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,319}}</string>
                <key>sourceSize</key>
                <string>{294,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prisionEnemySheet.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4bb2a896192b85c2c13f25b08cbc6d:24b644c737012bd230524e06b1940c41:8e3af636d059611aa68636163ba3c715$</string>
            <key>textureFileName</key>
            <string>prisionEnemySheet.png</string>
        </dict>
    </dict>
</plist>
