<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bully_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>Bully_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Bully_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,2},{172,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,266}}</string>
                <key>sourceSize</key>
                <string>{172,266}</string>
            </dict>
            <key>Cheerleader_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,2},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,270},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>Cheerleader_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cheerleader_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,270},{215,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,255}}</string>
                <key>sourceSize</key>
                <string>{215,255}</string>
            </dict>
            <key>Cooker_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,270},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_back_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_back_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_front_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,862},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,862},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>Cooker_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,566},{275,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,294}}</string>
                <key>sourceSize</key>
                <string>{275,294}</string>
            </dict>
            <key>CrazyTeacher_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,862},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,862},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,862},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,862},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>CrazyTeacher_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,862},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1174},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1174},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1174},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>CrazyTeacher_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1174},{239,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,310}}</string>
                <key>sourceSize</key>
                <string>{239,310}</string>
            </dict>
            <key>Principal_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1174},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1174},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1174},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
            <key>Principal_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1486},{254,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,310}}</string>
                <key>sourceSize</key>
                <string>{254,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>schoolEnemySheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eec190d164152cd97386a283b6862df:7e0e0e417f4143ad69a931f573ad853f:c5edf85e67eddd2cc86950051d21d3f9$</string>
            <key>textureFileName</key>
            <string>schoolEnemySheet.png</string>
        </dict>
    </dict>
</plist>
