<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ampbackleft_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,113},{108,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,146}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
            <key>ampbackleft_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,223},{112,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,145}}</string>
                <key>sourceSize</key>
                <string>{112,145}</string>
            </dict>
            <key>ampbackleft_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>ampbackright_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,150},{106,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,146}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
            <key>ampbackright_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,337},{110,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,145}}</string>
                <key>sourceSize</key>
                <string>{110,145}</string>
            </dict>
            <key>ampbackright_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{109,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,146}}</string>
                <key>sourceSize</key>
                <string>{111,146}</string>
            </dict>
            <key>ampfrontleft_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{120,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,167}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ampfrontleft_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,342},{122,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,167}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ampfrontleft_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,171},{119,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,167}}</string>
                <key>sourceSize</key>
                <string>{121,169}</string>
            </dict>
            <key>ampfrontright_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{122,167}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,167}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ampfrontright_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{124,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,167}}</string>
                <key>sourceSize</key>
                <string>{124,169}</string>
            </dict>
            <key>ampfrontright_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,169}}</string>
                <key>sourceSize</key>
                <string>{121,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage1Sheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01993962bcd95d335d5fd28270b936e0$</string>
            <key>textureFileName</key>
            <string>stage1Sheet.png</string>
        </dict>
    </dict>
</plist>
